USE [forzados]
GO
/****** Object:  Table [dbo].[DISCIPLINA]    Script Date: 28/02/2025 09:45:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DISCIPLINA](
	[DISCIPLINA_ID] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](30) NULL,
	[ESTADO] [int] NULL,
	[USUARIO_CREACION] [varchar](20) NULL,
	[FECHA_CREACION] [datetime] NULL,
	[USUARIO_MODIFICACION] [varchar](20) NULL,
	[FECHA_MODIFICACION] [datetime] NULL,
 CONSTRAINT [PK_DISCIPLINA] PRIMARY KEY CLUSTERED 
(
	[DISCIPLINA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IMPACTO]    Script Date: 28/02/2025 09:45:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMPACTO](
	[IMPACTO_ID] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](30) NULL,
	[ESTADO] [int] NULL,
	[USUARIO_CREACION] [varchar](20) NULL,
	[FECHA_CREACION] [datetime] NULL,
	[USUARIO_MODIFICACION] [varchar](20) NULL,
	[FECHA_MODIFICACION] [datetime] NULL,
 CONSTRAINT [PK_IMPACTO] PRIMARY KEY CLUSTERED 
(
	[IMPACTO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAE_AREA]    Script Date: 28/02/2025 09:45:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAE_AREA](
	[AREA_ID] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](30) NULL,
	[ESTADO] [int] NULL,
	[USUARIO_CREACION] [varchar](20) NULL,
	[FECHA_CREACION] [datetime] NULL,
	[USUARIO_MODIFICACION] [varchar](20) NULL,
	[FECHA_MODIFICACION] [datetime] NULL,
 CONSTRAINT [PK_MAE_AREA] PRIMARY KEY CLUSTERED 
(
	[AREA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAE_DATO_ADJUNTO]    Script Date: 28/02/2025 09:45:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAE_DATO_ADJUNTO](
	[DATOADJUNTO_ID] [int] IDENTITY(1,1) NOT NULL,
	[SOLICITUD_ID] [int] NULL,
	[NOMBRE_ARCHIVO] [varchar](100) NULL,
	[ARCHIVO] [varbinary](max) NULL,
	[ESTADO] [int] NULL,
	[USUARIO_CREACION] [varchar](20) NULL,
	[FECHA_CREACION] [datetime] NULL,
	[USUARIO_MODIFICACION] [varchar](20) NULL,
	[FECHA_MODIFICACION] [datetime] NULL,
 CONSTRAINT [PK_MAE_DATO_ADJUNTO] PRIMARY KEY CLUSTERED 
(
	[DATOADJUNTO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAE_OPCIONES]    Script Date: 28/02/2025 09:45:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAE_OPCIONES](
	[OPCIONES_ID] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](80) NULL,
	[ESTADO] [int] NULL,
 CONSTRAINT [PK_MAE_OPCIONES] PRIMARY KEY CLUSTERED 
(
	[OPCIONES_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAE_PARAMETROS_GLOBALES]    Script Date: 28/02/2025 09:45:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAE_PARAMETROS_GLOBALES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CODIGO] [varchar](30) NULL,
	[VALOR] [varchar](30) NULL,
	[VALOR_BOOLEANO] [bit] NULL,
	[ESTADO] [int] NULL,
 CONSTRAINT [PK_PARAMETROS_GLOBALES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAE_PERMISO]    Script Date: 28/02/2025 09:45:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAE_PERMISO](
	[PERMISO_ID] [int] IDENTITY(1,1) NOT NULL,
	[ROL_ID] [int] NULL,
	[OPCIONES_ID] [int] NULL,
	[CREAR] [int] NULL,
	[EDITAR] [int] NULL,
	[CONSULTAR] [int] NULL,
	[ESTADO] [int] NULL,
 CONSTRAINT [PK_MAE_PERMISO] PRIMARY KEY CLUSTERED 
(
	[PERMISO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAE_PROYECTO]    Script Date: 28/02/2025 09:45:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAE_PROYECTO](
	[PROYECTO_ID] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](100) NULL,
	[ESTADO] [int] NULL,
	[USUARIO_CREACION] [varchar](20) NULL,
	[FECHA_CREACION] [datetime] NULL,
	[USUARIO_MODIFICACION] [varchar](20) NULL,
	[FECHA_MODIFICACION] [datetime] NULL,
 CONSTRAINT [PK_PROYECTO] PRIMARY KEY CLUSTERED 
(
	[PROYECTO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAE_PUESTO]    Script Date: 28/02/2025 09:45:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAE_PUESTO](
	[PUESTO_ID] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](50) NULL,
	[NIVEL_RIESGO_APROBACION] [varchar](50) NULL,
	[ESTADO] [int] NULL,
	[USUARIO_CREACION] [varchar](20) NULL,
	[FECHA_CREACION] [datetime] NULL,
	[USUARIO_MODIFICACION] [varchar](20) NULL,
	[FECHA_MODIFICACION] [datetime] NULL,
 CONSTRAINT [PK_MAE_PUESTO] PRIMARY KEY CLUSTERED 
(
	[PUESTO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAE_PUESTO_ROL]    Script Date: 28/02/2025 09:45:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAE_PUESTO_ROL](
	[PUESTO_ID] [int] NOT NULL,
	[ROL_ID] [int] NOT NULL,
	[USUARIO_CREACION] [varchar](20) NULL,
	[FECHA_CREACION] [datetime] NULL,
	[USUARIO_MODIFICACION] [varchar](20) NULL,
	[FECHA_MODIFICACION] [datetime] NULL,
 CONSTRAINT [PK_MAE_PUESTO_ROL] PRIMARY KEY CLUSTERED 
(
	[PUESTO_ID] ASC,
	[ROL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAE_RIESGO_A]    Script Date: 28/02/2025 09:45:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAE_RIESGO_A](
	[RIESGOA_ID] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](80) NULL,
	[ESTADO] [int] NULL,
	[USUARIO_CREACION] [varchar](20) NULL,
	[FECHA_CREACION] [datetime] NULL,
	[USUARIO_MODIFICACION] [varchar](20) NULL,
	[FECHA_MODIFICACION] [datetime] NULL,
 CONSTRAINT [PK_MAE_RIESGO_A] PRIMARY KEY CLUSTERED 
(
	[RIESGOA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAE_ROL]    Script Date: 28/02/2025 09:45:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAE_ROL](
	[ROL_ID] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](30) NULL,
	[ESTADO] [int] NULL,
	[USUARIO_CREACION] [varchar](20) NULL,
	[FECHA_CREACION] [datetime] NULL,
	[USUARIO_MODIFICACION] [varchar](20) NULL,
	[FECHA__MODIFICACION] [datetime] NULL,
 CONSTRAINT [PK_MAE_ROL] PRIMARY KEY CLUSTERED 
(
	[ROL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAE_TAGS_MATRIZ_RIESGO]    Script Date: 28/02/2025 09:45:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAE_TAGS_MATRIZ_RIESGO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SUB_AREA_ID] [int] NULL,
	[TAG_CENTRO_ID] [int] NULL,
	[SUFIJO] [varchar](50) NULL,
	[PROBABILIDAD_ID] [int] NULL,
	[IMPACTO_ID] [int] NULL,
	[ESTADO] [int] NULL,
	[USUARIO_CREACION] [varchar](20) NULL,
	[FECHA_CREACION] [datetime] NULL,
	[USUARIO_MODIFICACION] [varchar](20) NULL,
	[FECHA_MODIFICACION] [datetime] NULL,
 CONSTRAINT [PK_TAGS_MATRIZ_RIESGO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAE_USUARIO]    Script Date: 28/02/2025 09:45:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAE_USUARIO](
	[USUARIO_ID] [int] IDENTITY(1,1) NOT NULL,
	[AREA_ID] [int] NULL,
	[PUESTO_ID] [int] NULL,
	[USUARIO] [varchar](15) NULL,
	[PASSWORD] [varchar](max) NULL,
	[DNI] [char](8) NULL,
	[NOMBRE] [varchar](50) NULL,
	[APEPATERNO] [varchar](50) NULL,
	[APEMATERNO] [varchar](50) NULL,
	[CORREO] [varchar](60) NULL,
	[FLAG_INGRESO] [int] NULL,
	[ROL_ID] [int] NULL,
	[ESTADO] [int] NULL,
	[USUARIO_CREACION] [varchar](20) NULL,
	[FECHA_CREACION] [datetime] NULL,
	[USUARIO_MODIFICACION] [varchar](20) NULL,
	[FECHA_MODIFICACION] [datetime] NULL,
 CONSTRAINT [PK_MAE_USUARIO] PRIMARY KEY CLUSTERED 
(
	[USUARIO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MATRIZ_RIESGO]    Script Date: 28/02/2025 09:45:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATRIZ_RIESGO](
	[MATRIZ_ID] [int] IDENTITY(1,1) NOT NULL,
	[IMPACTO_ID] [int] NULL,
	[RIESGO_ID] [int] NULL,
	[PROBABILIDAD_ID] [int] NULL,
	[NIVEL] [int] NULL,
	[ESTADO] [int] NULL,
	[USUARIO_CREACION] [varchar](20) NULL,
	[FECHA_CREACION] [datetime] NULL,
	[USUARIO_MODIFICACION] [varchar](20) NULL,
	[FECHA_MODIFICACION] [datetime] NULL,
 CONSTRAINT [PK_MATRIZ_RIESGO] PRIMARY KEY CLUSTERED 
(
	[MATRIZ_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MOTIVO_RECHAZO]    Script Date: 28/02/2025 09:45:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOTIVO_RECHAZO](
	[MOTIVORECHAZO_ID] [int] IDENTITY(1,1) NOT NULL,
	[TIPO] [char](1) NULL,
	[DESCRIPCION] [varchar](30) NULL,
	[ESTADO] [int] NULL,
	[USUARIO_CREACION] [varchar](20) NULL,
	[FECHA_CREACION] [datetime] NULL,
	[USUARIO_MODIFICACION] [varchar](20) NULL,
	[FECHA_MODIFICACION] [datetime] NULL,
 CONSTRAINT [PK_MOTIVO_RECHAZO] PRIMARY KEY CLUSTERED 
(
	[MOTIVORECHAZO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROBABILIDAD]    Script Date: 28/02/2025 09:45:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROBABILIDAD](
	[PROBABILIDAD_ID] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](30) NULL,
	[ESTADO] [int] NULL,
	[USUARIO_CREACION] [varchar](20) NULL,
	[FECHA_CREACION] [datetime] NULL,
	[USUARIO_MODIFICACION] [varchar](20) NULL,
	[FECHA_MODIFICACION] [datetime] NULL,
 CONSTRAINT [PK_PROBABILIDAD] PRIMARY KEY CLUSTERED 
(
	[PROBABILIDAD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RESPONSABLE]    Script Date: 28/02/2025 09:45:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESPONSABLE](
	[RESPONSABLE_ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](30) NULL,
	[ESTADO] [int] NULL,
	[USUARIO_CREACION] [varchar](20) NULL,
	[FECHA_CREACION] [datetime] NULL,
	[USUARIO_MODIFICACION] [varchar](20) NULL,
	[FECHA_MODIFICACION] [datetime] NULL,
 CONSTRAINT [PK_RESPONSABLE] PRIMARY KEY CLUSTERED 
(
	[RESPONSABLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RIESGO]    Script Date: 28/02/2025 09:45:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RIESGO](
	[RIESGO_ID] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](30) NULL,
	[ESTADO] [int] NULL,
 CONSTRAINT [PK_RIESGO] PRIMARY KEY CLUSTERED 
(
	[RIESGO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUB_AREA]    Script Date: 28/02/2025 09:45:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUB_AREA](
	[SUBAREA_ID] [int] IDENTITY(1,1) NOT NULL,
	[CODIGO] [varchar](30) NULL,
	[DESCRIPCION] [varchar](100) NULL,
	[ESTADO] [int] NULL,
	[USUARIO_CREACION] [varchar](20) NULL,
	[FECHA_CREACION] [datetime] NULL,
	[USUARIO_MODIFICACION] [varchar](20) NULL,
	[FECHA_MODIFICACION] [datetime] NULL,
 CONSTRAINT [PK_SUB_AREA] PRIMARY KEY CLUSTERED 
(
	[SUBAREA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAG_CENTRO]    Script Date: 28/02/2025 09:45:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAG_CENTRO](
	[TAGCENTRO_ID] [int] IDENTITY(1,1) NOT NULL,
	[CODIGO] [varchar](30) NULL,
	[DESCRIPCION] [varchar](100) NULL,
	[ESTADO] [int] NULL,
	[USUARIO_CREACION] [varchar](20) NULL,
	[FECHA_CREACION] [datetime] NULL,
	[USUARIO_MODIFICACION] [varchar](20) NULL,
	[FECHA_MODIFICACION] [datetime] NULL,
 CONSTRAINT [PK_TAG_CENTRO] PRIMARY KEY CLUSTERED 
(
	[TAGCENTRO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_FORZADO]    Script Date: 28/02/2025 09:45:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_FORZADO](
	[TIPOFORZADO_ID] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](30) NULL,
	[ESTADO] [int] NULL,
 CONSTRAINT [PK_TIPO_FORZADO] PRIMARY KEY CLUSTERED 
(
	[TIPOFORZADO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRS_SOLICITUD_FORZADO]    Script Date: 28/02/2025 09:45:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRS_SOLICITUD_FORZADO](
	[SOLICITUD_ID] [int] IDENTITY(1,1) NOT NULL,
	[SUBAREA_ID] [int] NULL,
	[PROYECTO_ID] [int] NULL,
	[DISCIPLINA_ID] [int] NULL,
	[TURNO_ID] [int] NULL,
	[MOTIVORECHAZO_A_ID] [int] NULL,
	[MOTIVORECHAZO_B_ID] [int] NULL,
	[TIPOFORZADO_ID] [int] NULL,
	[TAGCENTRO_ID] [int] NULL,
	[TAGSUFIJO] [varchar](100) NULL,
	[RESPONSABLE_ID] [int] NULL,
	[RIESGOA_ID] [int] NULL,
	[PROBABILIDAD_RIESGO] [int] NULL,
	[TIPOSOLICITUD] [int] NULL,
	[INTERLOCK] [int] NULL,
	[URGENCIA] [int] NULL,
	[DESCRIPCIONFORZADO] [varchar](100) NULL,
	[ESTADOSOLICITUD] [varchar](100) NULL,
	[FECHA_EJECUCION_A] [datetime] NULL,
	[FECHAEJECUCION_B] [datetime] NULL,
	[FECHACIERRE] [datetime] NULL,
	[SOLICITANTE_A_ID] [int] NULL,
	[APROBADOR_A_ID] [int] NULL,
	[EJECUTOR_A_ID] [int] NULL,
	[SOLICITANTE_B_ID] [int] NULL,
	[APROBADOR_B_ID] [int] NULL,
	[EJECUTOR_B_ID] [int] NULL,
	[USUARIO_CREACION] [varchar](20) NULL,
	[FECHA_CREACION] [datetime] NULL,
	[USUARIO_MODIFICACION] [varchar](20) NULL,
	[FECHA_MODIFICACION] [datetime] NULL,
	[OBSERVACIONES_B] [varchar](2000) NULL,
	[ACTION_TOKEN] [varchar](100) NULL,
	[OBSERVADO_A] [bit] NULL,
	[OBSERVACION_RECHAZO_A] [varchar](2000) NULL,
	[OBSERVADO_B] [bit] NULL,
	[OBSERVACION_RECHAZO_B] [varchar](2000) NULL,
	[TAG_CONCAT] [varchar](200) NULL,
 CONSTRAINT [PK_TRS_SOLICITUD_FORZADO] PRIMARY KEY CLUSTERED 
(
	[SOLICITUD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TURNO]    Script Date: 28/02/2025 09:45:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TURNO](
	[TURNO_ID] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](30) NULL,
	[ESTADO] [int] NULL,
	[USUARIO_CREACION] [varchar](20) NULL,
	[FECHA_CREACION] [datetime] NULL,
	[USUARIO_MODIFICACION] [varchar](20) NULL,
	[FECHA_MODIFICACION] [datetime] NULL,
 CONSTRAINT [PK_TURNO] PRIMARY KEY CLUSTERED 
(
	[TURNO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO


CREATE TABLE [dbo].[MAE_GRUPO](
	[GRUPO_ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](30) NULL,
	[ESTADO] [int] NULL,
	[USUARIO_CREACION] VARCHAR(50),
	[FECHA_CREACION] DATETIME,
	[USUARIO_MODIFICACION] VARCHAR(50),
	[FECHA_MODIFICACION] DATETIME

 CONSTRAINT [PK_GRUPO] PRIMARY KEY CLUSTERED 
(
	[GRUPO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO





ALTER TABLE [dbo].[MAE_DATO_ADJUNTO]  WITH CHECK ADD  CONSTRAINT [FK_MAE_DATO_REFERENCE_TRS_SOLI] FOREIGN KEY([SOLICITUD_ID])
REFERENCES [dbo].[TRS_SOLICITUD_FORZADO] ([SOLICITUD_ID])
GO
ALTER TABLE [dbo].[MAE_DATO_ADJUNTO] CHECK CONSTRAINT [FK_MAE_DATO_REFERENCE_TRS_SOLI]
GO
ALTER TABLE [dbo].[MAE_PERMISO]  WITH CHECK ADD  CONSTRAINT [FK_MAE_PERM_REFERENCE_MAE_OPCI] FOREIGN KEY([OPCIONES_ID])
REFERENCES [dbo].[MAE_OPCIONES] ([OPCIONES_ID])
GO
ALTER TABLE [dbo].[MAE_PERMISO] CHECK CONSTRAINT [FK_MAE_PERM_REFERENCE_MAE_OPCI]
GO
ALTER TABLE [dbo].[MAE_PERMISO]  WITH CHECK ADD  CONSTRAINT [FK_MAE_PERM_REFERENCE_MAE_ROL] FOREIGN KEY([ROL_ID])
REFERENCES [dbo].[MAE_ROL] ([ROL_ID])
GO
ALTER TABLE [dbo].[MAE_PERMISO] CHECK CONSTRAINT [FK_MAE_PERM_REFERENCE_MAE_ROL]
GO
ALTER TABLE [dbo].[MAE_PUESTO_ROL]  WITH CHECK ADD  CONSTRAINT [FK_MAE_PUESTO_ROL_PUESTO] FOREIGN KEY([PUESTO_ID])
REFERENCES [dbo].[MAE_PUESTO] ([PUESTO_ID])
GO
ALTER TABLE [dbo].[MAE_PUESTO_ROL] CHECK CONSTRAINT [FK_MAE_PUESTO_ROL_PUESTO]
GO
ALTER TABLE [dbo].[MAE_PUESTO_ROL]  WITH CHECK ADD  CONSTRAINT [FK_MAE_PUESTO_ROL_ROL] FOREIGN KEY([ROL_ID])
REFERENCES [dbo].[MAE_ROL] ([ROL_ID])
GO
ALTER TABLE [dbo].[MAE_PUESTO_ROL] CHECK CONSTRAINT [FK_MAE_PUESTO_ROL_ROL]
GO
ALTER TABLE [dbo].[MAE_TAGS_MATRIZ_RIESGO]  WITH CHECK ADD  CONSTRAINT [FK_MAE_TAGS_MATRIZ_RIESGO_IMPACTO] FOREIGN KEY([IMPACTO_ID])
REFERENCES [dbo].[IMPACTO] ([IMPACTO_ID])
GO
ALTER TABLE [dbo].[MAE_TAGS_MATRIZ_RIESGO] CHECK CONSTRAINT [FK_MAE_TAGS_MATRIZ_RIESGO_IMPACTO]
GO
ALTER TABLE [dbo].[MAE_TAGS_MATRIZ_RIESGO]  WITH CHECK ADD  CONSTRAINT [FK_MAE_TAGS_MATRIZ_RIESGO_PROBABILIDAD] FOREIGN KEY([PROBABILIDAD_ID])
REFERENCES [dbo].[PROBABILIDAD] ([PROBABILIDAD_ID])
GO
ALTER TABLE [dbo].[MAE_TAGS_MATRIZ_RIESGO] CHECK CONSTRAINT [FK_MAE_TAGS_MATRIZ_RIESGO_PROBABILIDAD]
GO
ALTER TABLE [dbo].[MAE_TAGS_MATRIZ_RIESGO]  WITH CHECK ADD  CONSTRAINT [FK_MAE_TAGS_MATRIZ_RIESGO_SUB_AREA] FOREIGN KEY([SUB_AREA_ID])
REFERENCES [dbo].[SUB_AREA] ([SUBAREA_ID])
GO
ALTER TABLE [dbo].[MAE_TAGS_MATRIZ_RIESGO] CHECK CONSTRAINT [FK_MAE_TAGS_MATRIZ_RIESGO_SUB_AREA]
GO
ALTER TABLE [dbo].[MAE_TAGS_MATRIZ_RIESGO]  WITH CHECK ADD  CONSTRAINT [FK_MAE_TAGS_MATRIZ_RIESGO_TAG_CENTRO] FOREIGN KEY([TAG_CENTRO_ID])
REFERENCES [dbo].[TAG_CENTRO] ([TAGCENTRO_ID])
GO
ALTER TABLE [dbo].[MAE_TAGS_MATRIZ_RIESGO] CHECK CONSTRAINT [FK_MAE_TAGS_MATRIZ_RIESGO_TAG_CENTRO]
GO
ALTER TABLE [dbo].[MAE_USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_MAE_USUA_REFERENCE_MAE_AREA] FOREIGN KEY([AREA_ID])
REFERENCES [dbo].[MAE_AREA] ([AREA_ID])
GO
ALTER TABLE [dbo].[MAE_USUARIO] CHECK CONSTRAINT [FK_MAE_USUA_REFERENCE_MAE_AREA]
GO
ALTER TABLE [dbo].[MAE_USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_MAE_USUA_REFERENCE_MAE_PUES] FOREIGN KEY([PUESTO_ID])
REFERENCES [dbo].[MAE_PUESTO] ([PUESTO_ID])
GO
ALTER TABLE [dbo].[MAE_USUARIO] CHECK CONSTRAINT [FK_MAE_USUA_REFERENCE_MAE_PUES]
GO
ALTER TABLE [dbo].[MAE_USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_MAE_USUA_REFERENCE_MAE_ROL] FOREIGN KEY([ROL_ID])
REFERENCES [dbo].[MAE_ROL] ([ROL_ID])
GO
ALTER TABLE [dbo].[MAE_USUARIO] CHECK CONSTRAINT [FK_MAE_USUA_REFERENCE_MAE_ROL]
GO
ALTER TABLE [dbo].[MATRIZ_RIESGO]  WITH CHECK ADD  CONSTRAINT [FK_MATRIZ_R_REFERENCE_IMPACTO] FOREIGN KEY([IMPACTO_ID])
REFERENCES [dbo].[IMPACTO] ([IMPACTO_ID])
GO
ALTER TABLE [dbo].[MATRIZ_RIESGO] CHECK CONSTRAINT [FK_MATRIZ_R_REFERENCE_IMPACTO]
GO
ALTER TABLE [dbo].[MATRIZ_RIESGO]  WITH CHECK ADD  CONSTRAINT [FK_MATRIZ_R_REFERENCE_PROBABIL] FOREIGN KEY([PROBABILIDAD_ID])
REFERENCES [dbo].[PROBABILIDAD] ([PROBABILIDAD_ID])
GO
ALTER TABLE [dbo].[MATRIZ_RIESGO] CHECK CONSTRAINT [FK_MATRIZ_R_REFERENCE_PROBABIL]
GO
ALTER TABLE [dbo].[MATRIZ_RIESGO]  WITH CHECK ADD  CONSTRAINT [FK_MATRIZ_R_REFERENCE_RIESGO] FOREIGN KEY([RIESGO_ID])
REFERENCES [dbo].[RIESGO] ([RIESGO_ID])
GO
ALTER TABLE [dbo].[MATRIZ_RIESGO] CHECK CONSTRAINT [FK_MATRIZ_R_REFERENCE_RIESGO]
GO
ALTER TABLE [dbo].[TRS_SOLICITUD_FORZADO]  WITH CHECK ADD  CONSTRAINT [FK_TRS_SOLI_REFERENCE_DISCIPLI] FOREIGN KEY([DISCIPLINA_ID])
REFERENCES [dbo].[DISCIPLINA] ([DISCIPLINA_ID])
GO
ALTER TABLE [dbo].[TRS_SOLICITUD_FORZADO] CHECK CONSTRAINT [FK_TRS_SOLI_REFERENCE_DISCIPLI]
GO
ALTER TABLE [dbo].[TRS_SOLICITUD_FORZADO]  WITH CHECK ADD  CONSTRAINT [FK_TRS_SOLI_REFERENCE_MAE_PROYECTO] FOREIGN KEY([PROYECTO_ID])
REFERENCES [dbo].[MAE_PROYECTO] ([PROYECTO_ID])
GO
ALTER TABLE [dbo].[TRS_SOLICITUD_FORZADO] CHECK CONSTRAINT [FK_TRS_SOLI_REFERENCE_MAE_PROYECTO]
GO
ALTER TABLE [dbo].[TRS_SOLICITUD_FORZADO]  WITH CHECK ADD  CONSTRAINT [FK_TRS_SOLI_REFERENCE_MAE_RIES] FOREIGN KEY([RIESGOA_ID])
REFERENCES [dbo].[MAE_RIESGO_A] ([RIESGOA_ID])
GO
ALTER TABLE [dbo].[TRS_SOLICITUD_FORZADO] CHECK CONSTRAINT [FK_TRS_SOLI_REFERENCE_MAE_RIES]
GO
ALTER TABLE [dbo].[TRS_SOLICITUD_FORZADO]  WITH CHECK ADD  CONSTRAINT [FK_TRS_SOLI_REFERENCE_MAE_USUA] FOREIGN KEY([SOLICITANTE_A_ID])
REFERENCES [dbo].[MAE_USUARIO] ([USUARIO_ID])
GO
ALTER TABLE [dbo].[TRS_SOLICITUD_FORZADO] CHECK CONSTRAINT [FK_TRS_SOLI_REFERENCE_MAE_USUA]
GO
ALTER TABLE [dbo].[TRS_SOLICITUD_FORZADO]  WITH CHECK ADD  CONSTRAINT [FK_TRS_SOLI_REFERENCE_MAE_USUA1] FOREIGN KEY([APROBADOR_A_ID])
REFERENCES [dbo].[MAE_USUARIO] ([USUARIO_ID])
GO
ALTER TABLE [dbo].[TRS_SOLICITUD_FORZADO] CHECK CONSTRAINT [FK_TRS_SOLI_REFERENCE_MAE_USUA1]
GO
ALTER TABLE [dbo].[TRS_SOLICITUD_FORZADO]  WITH CHECK ADD  CONSTRAINT [FK_TRS_SOLI_REFERENCE_MAE_USUA2] FOREIGN KEY([EJECUTOR_A_ID])
REFERENCES [dbo].[MAE_USUARIO] ([USUARIO_ID])
GO
ALTER TABLE [dbo].[TRS_SOLICITUD_FORZADO] CHECK CONSTRAINT [FK_TRS_SOLI_REFERENCE_MAE_USUA2]
GO
ALTER TABLE [dbo].[TRS_SOLICITUD_FORZADO]  WITH CHECK ADD  CONSTRAINT [FK_TRS_SOLI_REFERENCE_MAE_USUA3] FOREIGN KEY([SOLICITANTE_B_ID])
REFERENCES [dbo].[MAE_USUARIO] ([USUARIO_ID])
GO
ALTER TABLE [dbo].[TRS_SOLICITUD_FORZADO] CHECK CONSTRAINT [FK_TRS_SOLI_REFERENCE_MAE_USUA3]
GO
ALTER TABLE [dbo].[TRS_SOLICITUD_FORZADO]  WITH CHECK ADD  CONSTRAINT [FK_TRS_SOLI_REFERENCE_MAE_USUA4] FOREIGN KEY([APROBADOR_B_ID])
REFERENCES [dbo].[MAE_USUARIO] ([USUARIO_ID])
GO
ALTER TABLE [dbo].[TRS_SOLICITUD_FORZADO] CHECK CONSTRAINT [FK_TRS_SOLI_REFERENCE_MAE_USUA4]
GO
ALTER TABLE [dbo].[TRS_SOLICITUD_FORZADO]  WITH CHECK ADD  CONSTRAINT [FK_TRS_SOLI_REFERENCE_MAE_USUA5] FOREIGN KEY([EJECUTOR_B_ID])
REFERENCES [dbo].[MAE_USUARIO] ([USUARIO_ID])
GO
ALTER TABLE [dbo].[TRS_SOLICITUD_FORZADO] CHECK CONSTRAINT [FK_TRS_SOLI_REFERENCE_MAE_USUA5]
GO
ALTER TABLE [dbo].[TRS_SOLICITUD_FORZADO]  WITH CHECK ADD  CONSTRAINT [FK_TRS_SOLI_REFERENCE_PROBABILIDAD] FOREIGN KEY([PROBABILIDAD_RIESGO])
REFERENCES [dbo].[PROBABILIDAD] ([PROBABILIDAD_ID])
GO
ALTER TABLE [dbo].[TRS_SOLICITUD_FORZADO] CHECK CONSTRAINT [FK_TRS_SOLI_REFERENCE_PROBABILIDAD]
GO
ALTER TABLE [dbo].[TRS_SOLICITUD_FORZADO]  WITH CHECK ADD  CONSTRAINT [FK_TRS_SOLI_REFERENCE_RESPONSABLE] FOREIGN KEY([RESPONSABLE_ID])
REFERENCES [dbo].[RESPONSABLE] ([RESPONSABLE_ID])
GO
ALTER TABLE [dbo].[TRS_SOLICITUD_FORZADO] CHECK CONSTRAINT [FK_TRS_SOLI_REFERENCE_RESPONSABLE]
GO
ALTER TABLE [dbo].[TRS_SOLICITUD_FORZADO]  WITH CHECK ADD  CONSTRAINT [FK_TRS_SOLI_REFERENCE_SUB_AREA] FOREIGN KEY([SUBAREA_ID])
REFERENCES [dbo].[SUB_AREA] ([SUBAREA_ID])
GO
ALTER TABLE [dbo].[TRS_SOLICITUD_FORZADO] CHECK CONSTRAINT [FK_TRS_SOLI_REFERENCE_SUB_AREA]
GO
ALTER TABLE [dbo].[TRS_SOLICITUD_FORZADO]  WITH CHECK ADD  CONSTRAINT [FK_TRS_SOLI_REFERENCE_TAG_CENTRO] FOREIGN KEY([TAGCENTRO_ID])
REFERENCES [dbo].[TAG_CENTRO] ([TAGCENTRO_ID])
GO
ALTER TABLE [dbo].[TRS_SOLICITUD_FORZADO] CHECK CONSTRAINT [FK_TRS_SOLI_REFERENCE_TAG_CENTRO]
GO
ALTER TABLE [dbo].[TRS_SOLICITUD_FORZADO]  WITH CHECK ADD  CONSTRAINT [FK_TRS_SOLI_REFERENCE_TIPO_FOR] FOREIGN KEY([TIPOFORZADO_ID])
REFERENCES [dbo].[TIPO_FORZADO] ([TIPOFORZADO_ID])
GO
ALTER TABLE [dbo].[TRS_SOLICITUD_FORZADO] CHECK CONSTRAINT [FK_TRS_SOLI_REFERENCE_TIPO_FOR]
GO
ALTER TABLE [dbo].[TRS_SOLICITUD_FORZADO]  WITH CHECK ADD  CONSTRAINT [FK_TRS_SOLI_REFERENCE_TURNO] FOREIGN KEY([TURNO_ID])
REFERENCES [dbo].[TURNO] ([TURNO_ID])
GO
ALTER TABLE [dbo].[TRS_SOLICITUD_FORZADO] CHECK CONSTRAINT [FK_TRS_SOLI_REFERENCE_TURNO]
GO
ALTER TABLE [dbo].[TRS_SOLICITUD_FORZADO]  WITH CHECK ADD  CONSTRAINT [SOLFROZA_MOTIVO_RECHAZO2] FOREIGN KEY([MOTIVORECHAZO_A_ID])
REFERENCES [dbo].[MOTIVO_RECHAZO] ([MOTIVORECHAZO_ID])
GO
ALTER TABLE [dbo].[TRS_SOLICITUD_FORZADO] CHECK CONSTRAINT [SOLFROZA_MOTIVO_RECHAZO2]
GO
ALTER TABLE [dbo].[TRS_SOLICITUD_FORZADO]  WITH CHECK ADD  CONSTRAINT [SOLFROZA_MOTIVO_RECHAZO3] FOREIGN KEY([MOTIVORECHAZO_B_ID])
REFERENCES [dbo].[MOTIVO_RECHAZO] ([MOTIVORECHAZO_ID])
GO
ALTER TABLE [dbo].[TRS_SOLICITUD_FORZADO] CHECK CONSTRAINT [SOLFROZA_MOTIVO_RECHAZO3]
GO
